@import "../../index.scss";

.top-bar{
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1;

  &__right {
    display: flex;
    align-items: center;

    .text{  
        display: flex;
        align-items: center;
        margin-right: 20px;
        color: $font-light;

        .ir{
          margin-right: 20px;
          color: $font-light;
          font-weight: bold;
          font-size: 15px;
        }

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            border-radius: 50px;
        }
    }
    
    
    

    i {
      &:hover {
        cursor: pointer;
      }
    }
  }
}