@import "./scss/colors.scss";

body{
    color: $font-grey;
}

.ui.form {
    .field {
      .input {
        input {
          background: $background-grey-light;
          font-size: 16px;
          color: $font-light;
          border: 0;
  
          &:hover,
          &:active,
          &:focus {
            background-color: $background-grey-light-hover;
            color: $font-light;
            border: 0;
          }
        }
        i {
          color: $font-light;
        }
        &.error {
          input {
            border-bottom: 1px solid $danger;
          }
        }
      }
    }
  
    .ui.button {
      width: 100%;
      margin-top: 20px;
      background-color: $primary-color;
      color: $font-light;
      font-weight: bold;
      font-size: 16px;
      border-radius: 50px;
  
      &:hover {
        background-color: $primary-color-hocer;
      }
    }
  
    .ui.dropdown {
      background-color: $background-grey-light;
      font-size: 16px;
      color: $font-light;
      border: 0;
  
      .search {
        color: $font-light;
      }
  
      .menu {
        background-color: $background-grey-light;
        border: 0;
  
        .item {
          border-color: $border-light-dark;
          color: $font-light;
        }
      }
    }
  }